{
  "extends": [
    "eslint-config-airbnb-base"
  ],
  "plugins": [
    "import"
  ],
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "history": true,
    "window": true
  },
  "rules": {
    "arrow-body-style": 0,
    "semi-style": [
      "error",
      "last"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-unused-vars": 1,
    "no-underscore-dangle": "off"
  }
}
